<a href="https://colab.research.google.com/github/SHermukhammadjon/Mohirdev_Data_Science_praktikum/blob/main/ML/scikit_learn3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Maschine Learning Loyiha qadamalri
(3-notebook)

<img src="https://drive.google.com/uc?id=1ZKgMJ92OMgfBHsvQmFmNhXw5aM9P9vXu">

In [11]:
import pandas as pd
import numpy as np

## 3-QADAM. MLga tayyorgarlik. Pipeline. Sonlar
### 25.05.2023

In [56]:
from sklearn.model_selection import train_test_split

dataset = pd.read_csv("https://github.com/ageron/handson-ml2/blob/master/datasets/housing/housing.csv?raw=true")
train_set, test_set = train_test_split(dataset)

housing = train_set.drop('median_house_value', axis = 1)
housing_lables = train_set['median_house_value'].copy()

housing_num = train_set.drop(['ocean_proximity', 'median_house_value'], axis = 1)

In [8]:
from sklearn.base import BaseEstimator, TransformerMixin
# we should columns indexs 
rooms_ix, bedrooms_ix, population_ix, households_ix = 3, 4, 5, 6

class CombineAttributesAdder(BaseEstimator, TransformerMixin):
  def __init__(self, add_bedrooms_per_room = False):
    self.add_bedrooms_per_room = add_bedrooms_per_room
  
  def fit(self, X, y = None):
    return self
  
  def transform(self, X):
    rooms_per_household = X[:, rooms_ix] / X[:, households_ix]
    population_per_household = X[:, population_ix] / X[:, households_ix]
    if self.add_bedrooms_per_room:
      bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
      return np.c_[X, rooms_per_household, population_per_household, bedrooms_per_room]
    else:
      return np.c_[X, rooms_per_household, population_per_household]

In [46]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

num_pipline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('atribut_adder', CombineAttributesAdder(add_bedrooms_per_room = True)),
    ('standart_scaler', StandardScaler())
])

num_pipline.fit_transform(housing_num)

array([[ 0.66987977, -0.71345464,  0.18882375, ..., -0.03563966,
        -0.04346022, -0.40694345],
       [ 0.97371258, -0.73213971, -1.07702006, ...,  0.04265518,
         0.06834618, -0.21239984],
       [-1.42706466,  1.00090054,  1.85024374, ..., -0.03692987,
        -0.04342158,  0.18262553],
       ...,
       [ 0.71470756, -0.68542703,  0.42616946, ..., -0.42502035,
         0.06080067,  0.6138086 ],
       [-1.2178683 ,  0.63187041,  0.10970851, ..., -0.30260504,
        -0.07338588,  0.19071243],
       [-1.41710293,  1.24847772, -0.83967435, ...,  0.57939663,
        -0.04823002, -0.72637634]])

In [57]:
from sklearn.compose import ColumnTransformer

columns_num = list(housing_num)

In [59]:
cat_attribs = ['ocean_proximity'] 

ful_pipline = ColumnTransformer([
    ('num', num_pipline, columns_num),
    ('cat', OneHotEncoder(), cat_attribs)
])

ful_pipline.fit_transform(housing)[0:5, ]

array([[ 0.81069098, -0.88260095, -0.36689598,  0.74042058,  0.72258575,
         1.50765399,  0.78463016,  0.18825787, -0.04666554,  0.06712728,
        -0.24365746,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 1.24557061, -1.32850984,  0.58604861,  0.43595675,  0.2516375 ,
         0.25765611,  0.27143988,  0.05692509,  0.18941339, -0.02189985,
        -0.5248752 ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ],
       [ 0.54576431, -0.56342405, -0.92278031, -0.78647695, -0.73307247,
        -0.79156029, -0.77850553, -0.43961571, -0.34002549, -0.03906681,
         0.54399813,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 1.07061903, -0.78403161,  0.26840041,  0.7417941 ,  0.74161396,
         0.95328393,  0.78463016, -0.55663285, -0.04525346,  0.00176553,
        -0.21725845,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ],
       [-1.19875282,  0.80715908,  0.42722451, -0.53558045, -0.56419709,
        -0.60588186, -0.5821317 , -0.22779719, -0.05787003, -0.03566309,
        -0.13889795,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ]])

In [51]:
columns_num

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [39]:
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
4195,-118.23,34.11,31.0,1021.0,191.0,495.0,191.0,5.5051,<1H OCEAN
13302,-117.62,34.07,15.0,4061.0,811.0,2884.0,734.0,3.3936,INLAND
15724,-122.44,37.78,52.0,3510.0,791.0,1703.0,657.0,2.8654,NEAR BAY
16472,-121.26,38.11,4.0,2058.0,366.0,933.0,316.0,4.2448,INLAND
3130,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.8750,INLAND
...,...,...,...,...,...,...,...,...,...
6045,-117.75,34.05,46.0,1480.0,358.0,1511.0,348.0,1.9718,INLAND
18908,-122.26,38.15,16.0,3921.0,727.0,2830.0,680.0,4.5053,NEAR BAY
6642,-118.14,34.17,34.0,2384.0,604.0,2073.0,540.0,2.3062,<1H OCEAN
18514,-122.02,36.99,30.0,2156.0,487.0,1023.0,458.0,2.7875,NEAR OCEAN
19063,-122.42,38.31,18.0,1479.0,246.0,550.0,217.0,4.7356,NEAR BAY

In [53]:
housing_num

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4195,-118.23,34.11,31.0,1021.0,191.0,495.0,191.0,5.5051,223500.0
13302,-117.62,34.07,15.0,4061.0,811.0,2884.0,734.0,3.3936,127000.0
15724,-122.44,37.78,52.0,3510.0,791.0,1703.0,657.0,2.8654,280000.0
16472,-121.26,38.11,4.0,2058.0,366.0,933.0,316.0,4.2448,150900.0
3130,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.8750,141700.0
...,...,...,...,...,...,...,...,...,...
6045,-117.75,34.05,46.0,1480.0,358.0,1511.0,348.0,1.9718,110600.0
18908,-122.26,38.15,16.0,3921.0,727.0,2830.0,680.0,4.5053,123700.0
6642,-118.14,34.17,34.0,2384.0,604.0,2073.0,540.0,2.3062,158000.0
18514,-122.02,36.99,30.0,2156.0,487.0,1023.0,458.0,2.7875,245000.0
19063,-122.42,38.31,18.0,1479.0,246.0,550.0,217.0,4.7356,333300.0