<a href="https://colab.research.google.com/github/SHermukhammadjon/Mohirdev_Data_Science_praktikum/blob/main/pandas_creat_series_with_dict9_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)
#\#9.2 Lug'atdan series yaratish

In [1]:
import pandas as pd
import numpy as np

In [3]:
from pandas import Series

In [4]:
obj2 = Series([1, 4, 6, 10, 20], index=['a', 'b', 'c', 'd', 'f'])

In [6]:
obj2

a     1
b     4
c     6
d    10
f    20
dtype: int64

In [5]:
obj2['b']

4

In [13]:
cars_dict = {'Malibu':40_000, 'Lacetti':20_000, 
             'Toyota':45_000, 'Mazda':52_000, 
             'Honda':38_000, 'Tico':1700
             }

In [14]:
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000,
 'Tico': 1700}

In [15]:
cars1 = Series(cars_dict)

In [16]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
Tico        1700
dtype: int64

In [17]:
cars1 = Series({'Malibu':40_000, 'Lacetti':20_000, 'Toyota':45_000, 'Mazda':52_000, 'Honda':38_000, 'Tico':1700})

In [18]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
Tico        1700
dtype: int64

In [19]:
'Tico' in cars1

True

In [20]:
'Ferrari' in cars1

False

In [28]:
models = ['Tico', 'Lacetti', 'Toyota', 'Nexia', 'Malibu', 'Honda', 'Ferrari', 'Ford']

In [29]:
cars2 = Series(cars_dict, index = models)
cars2

Tico        1700.0
Lacetti    20000.0
Toyota     45000.0
Nexia          NaN
Malibu     40000.0
Honda      38000.0
Ferrari        NaN
Ford           NaN
dtype: float64