<a href="https://colab.research.google.com/github/SHermukhammadjon/Mohirdev_Data_Science_praktikum/blob/main/pandas_dataframe9_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)
# Data Science va Sun'iy Intlekt Praktikum
## Pandas kutubxonasi

# 9.3 Pandas DataFrame ma'lumotlar tuzilmasi

In [57]:
import numpy as np 
import pandas as pd

In [66]:
data = {
  'Yil' :        [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010], 
  'Aholi soni' : [33.9, 33.5, 32.9, 32.5,  31.9, 31.4, 30.9, 28.5],
  'Temp' :       [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
  }

data

{'Yil': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
 'Aholi soni': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
 'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}

In [72]:
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [73]:
df.head(2)

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48

In [75]:
df.shape

(8, 3)